:root{
    /* 변수로 변경해서 사용하는 것을 추천 */
}
button{
    border: none; outline: none; 
    cursor: pointer;
}
body{
    margin-top: 20px;
    text-align: center;
    background-color: #000;
}

/* game */
.game{
    display: flex; flex-direction: column; 
    width: 800px; height: 500px;
    margin: auto;
    border-radius: 20px;
    background: url(../img/background.png) center/cover;
}
.game_header{
    display: flex; flex-direction: column; align-items: center;
    padding: 20px;
}
.game_button{
    width: 60px; height: 60px;
    background-color: wheat;
    border: 4px solid black;
    font-size: 24px;
    transition: transform 300ms ease-in;
}
.game_button:hover{
    transform: scale(1.1);
}
.game_timer{
    visibility: hidden;
    width: 100px;
    background-color: #fff;
    text-align: center;
    border: 5px solid black;
    border-radius: 20px;
    font-size: 32px;
    margin-top: 8px;
    user-select: none;
    cursor: auto;
}
.game_score{
    visibility: hidden;
    width: 50px; height: 50px;
    margin-top: 8px;
    font-size: 38px; 
    line-height: 1.2;
    text-align: center;
    background-color: darksalmon;
    color: #fff;
    border: 3px solid black;
    border-radius: 50%;
    user-select: none;
    cursor: auto;
}
.game_field{
    position: relative;
    width: 100%; height: 100%;
    margin-top: 40px;
}

/* popup */
.popup{
    width: 400px;
    height: 140px;
    padding: 20px;
    margin: auto;
    background-color: #00000070;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    transform: translateY(-150%);
}

.popup--hide{ 
    display: none;
}

.popup_refresh{
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: wheat;
    border: 2px solid black;
    border-radius: 50%;
}
.popup_message{
    display: block;
    font-size: 38px;
}

.carrot, .bug{
    transition: transform 100ms ease-in;
}
.carrot:hover,
.bug:hover{
    transform: scale(1.1);
}
